---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
const pageTitle = "おーせのテックブログ | about";

const identity = {
  firstName: "おーせ",
  country: "Japan",
  city: "Tokyo",
  occupation: "Software Engineer",
  hobbies: ["Programming", "Reading"],
  languages: ["Japanese", "English"],
};

const sns = [
  {
    name: "Twitter",
    url: "https://twitter.com/ooooonse0524",
    icon: "https://cdn.svgporn.com/logos/twitter.svg",
  },
  {
    name: "GitHub",
    url: "https://github.com/ooooose",
    icon: "https://cdn.svgporn.com/logos/github-icon.svg",
  },
];

const skills = [
  {
    name: "JavaScript",
    icon: "https://cdn.svgporn.com/logos/javascript.svg",
  },
  {
    name: "TypeScript",
    icon: "https://cdn.svgporn.com/logos/typescript-icon.svg",
  },
  {
    name: "Python",
    icon: "https://cdn.svgporn.com/logos/python.svg",
  },
  {
    name: "FastAPI",
    level: "Advanced",
    icon: "https://cdn.worldvectorlogo.com/logos/fastapi-1.svg",
  },
  {
    name: "React",
    icon: "https://cdn.svgporn.com/logos/react.svg",
  },
  {
    name: "Next.js",
    icon: "https://cdn.svgporn.com/logos/nextjs.svg",
  },
  {
    name: "Docker",
    icon: "https://cdn.svgporn.com/logos/docker-icon.svg",
  },
  {
    name: "AWS",
    icon: "https://cdn.svgporn.com/logos/aws.svg",
  },

  {
    name: "Firebase",
    icon: "https://cdn.svgporn.com/logos/firebase.svg",
  },
  {
    name: "MySQL",
    icon: "https://cdn.svgporn.com/logos/mysql.svg",
  },
  {
    name: "PostgreSQL",
    icon: "https://cdn.svgporn.com/logos/postgresql.svg",
  },
  {
    name: "GitHub Actions",
    icon: "https://cdn.svgporn.com/logos/github-icon.svg",
  },
  {
    name: "Nginx",
    icon: "https://cdn.svgporn.com/logos/nginx.svg",
  },
  {
    name: "Vim",
    icon: "https://cdn.svgporn.com/logos/vim.svg",
  },
];
---

<Layout title={pageTitle}>
  <img src="/Icon.png" alt="おーせのロゴ" class='profile-icon' />
  <h2>おーせのテックブログ</h2>
  <h3>SNS</h3>
  <ul class="sns-icon-ul">
    {
      sns.map((s) => (
        <li class="sns">
          <a href={s.url} target="_blank" rel="noopener noreferrer">
            <img src={s.icon} alt={s.name} class="sns-icon" />
          </a>
        </li>
      ))
    }
  </ul>
  <h3>Skills</h3>
  <ul class="skill-index">
    {
      skills.map((skill) => (
        <li class="skill">
          <img src={skill.icon} alt={skill.name} class="lang-icon" />
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  .profile-icon {
     width: 100px;
     height: 100px;
  }
  .skill-index {
    display: flex;
    flex-description: wrap;
    gap: 20px
  }
  .skill {
    list-style: none;
  }
  .sns {
    list-style: none;
  }
  .sns-icon-ul {
    display: flex;
    gap: 20px
  }
  img {
    width: 200px;
    height: 200px;
  }
  .lang-icon {
    width: 100px;
    height: 100px;
  }
  .Advanced {
    color: red;
  }
  .Intermediate {
    color: blue;
  }
  .sns-icon {
    width: 50px;
    height: 50px;
  }
</style>
